<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">CSCI2720 - Project</a>
  <!-- <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> -->
  <ul class="navbar-nav pr-3 nav col-sm-9 col-md-10">
    <li class="nav-item text-nowrap">
      <a class="d-inline nav-link float-right" href="#" *ngIf="isAuth">Sign out</a>
      <div class="d-inline my-2 mx-3 float-right" style="color:white;" *ngIf="isAuth">Signed in as {{username}}</div>

      <a class="d-inline nav-link float-right" href="#" *ngIf="!isAuth">Sign in</a>
    </li>
  </ul>
</nav>

<div class="container-fluid" *ngIf="isAuth">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column" *ngFor="let catagory of objectKeys(siteNavigation); let i = index">
          <h6 [ngClass]="{'sidebar-heading d-flex justify-content-between align-items-center px-3 mb-1 text-muted': true, 'mt-4': i>0}">{{catagory}}</h6>
          <li class="nav-item" *ngFor="let section of siteNavigation[catagory];let j = index">
            <a [ngClass]="{'nav-link': true, 'active': currentSection == catagory && currentIndex == j}" href="#" (click)="navigation_event_click(catagory,j)">
              <i class="mx-1 fas fa-angle-double-right"></i>
              {{section}}
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-10 ml-auto px-4" [ngSwitch]="currentSection">
      <app-event class="py-3 mt-5 mt-sm-0" *ngSwitchCase="'EVENT CATALOG'"></app-event>
      <app-admin class="py-3 mt-5 mt-sm-0" *ngSwitchCase="'ADMIN FEATURE'"></app-admin>
      <app-about-us class="py-3 mt-5 mt-sm-0" *ngSwitchCase="'ABOUT THIS PROJECT'"></app-about-us>
    </main>
   </div>
</div>

<div class="container-fluid mt-5" *ngIf="!isAuth">
  Login la diu u
</div>