<div [ngClass]="{'d-none': editorToggle}">
	<h1 class="section-title" id="eventdata">Event Data</h1>
	<div class="section-subtitle">CRUD event data</div>
	<div class="section-content">
		<button class="mb-3 w-100 btn btn-info d-sm-none" (click)="fillEditor(0)"><i class="fas fa-calendar-plus"></i> Add Event</button>
		<button class="float-right btn btn-info d-none d-sm-block" (click)="fillEditor(0)"><i class="fas fa-calendar-plus"></i> Add Event</button>
		<table datatable [dtOptions]="eventdtOptions" [dtTrigger]="dtTrigger[0]"class="table"></table>
	</div>


	<h1 class="section-title" id="userdata">User Data</h1>
	<div class="section-subtitle">CRUD user data</div>
	<div class="section-content">
		<button class="mb-3 w-100 btn btn-info d-sm-none" (click)="fillEditor(1)"><i class="fas fa-user-plus"></i> Add User</button>
		<button class="float-right btn btn-info d-none d-sm-block" (click)="fillEditor(1)"><i class="fas fa-user-plus"></i> Add User</button>
		<table datatable [dtOptions]="userdtOptions" [dtTrigger]="dtTrigger[1]"class="table"></table>
	</div>


	<h1 class="section-title" id="flushdata">Flush Data</h1>
	<div class="section-subtitle">Reload events from the online dataset.</div>
	<div class="section-content">
		<div>
			<div class="card bg-danger text-white">
			  <div class="card-body">
			    <h5 class="card-title">Warning</h5>
			    <p class="card-text">The effect will be irreversible. This might take a while.</p>
				<button class="btn btn-dark" (click)="flush_eventdata()">Continue</button>
			  </div>
			</div>
		</div>
	</div>

	<h1 class="section-title" id="uploadcsv">Upload CSV</h1>
	<div class="section-subtitle">Obtain event data from CSV file</div>
	<div class="section-content">
		<div>
			<div class="card bg-danger text-white">
			  <div class="card-body">
			    <h5 class="card-title">Warning</h5>
			    <p class="card-text">This will override the current database.</p>
				<a class="btn btn-info mb-3" _target="_blank" href="{{CSVsampleURL}}">Download CSV Sample</a>
				<div class="custom-file">
				  <input accept=".csv" type="file" class="custom-file-input" id="customFile" (click)="fileToUpload = null" (change)="uploadCSV($event.target.files)">
				  <label class="custom-file-label" for="customFile">{{ fileToUpload == null ? "Choose file" : fileToUpload.name}}</label>
				</div>
			  </div>
			</div>
		</div>
	</div>
</div>

<div [ngClass]="{'d-none': !editorToggle}">
	<h1 class="section-title" id="eventlist">Data Editor</h1>
	<div class="section-subtitle"><a href="#" (click)="editorToggle = false">< close</a></div>	

	<form>
		<div class="form-group" *ngFor="let col of editorCol">
			<label>{{col["title"]}}</label>
			<input type="text" class="form-control" 
				[value]="editorData[col['data']] == undefined ? null : editorData[col['data']]"
				(keyup)="editorData[col['data']] = $event.target.value">
		</div>

		<button class="btn btn-success mr-1" type="button" (click)="data_commit()">
			<i class="fas fa-sync"></i><span class="d-none d-sm-inline-block ml-1"> Commit</span>
		</button>
		<button class="btn btn-danger" type="button" (click)="data_delete()">
			<i class="fas fa-cross"></i><span class="d-none d-sm-inline-block ml-1"> Delete</span>
		</button>
	</form>
</div>
