<h1 class="section-title" id="eventlist">Event List</h1>
<div class="section-subtitle"><kbd><kbd>Click</kbd></kbd> column to sort, <kbd><kbd>Shift</kbd> + <kbd>Click</kbd></kbd> to sort multiple column</div>
<table datatable class="table">
  <thead>
    <tr>
      <th scope="col">Activity name</th>
      <th scope="col">Type</th>
      <th scope="col">Date</th>
      <th scope="col">Venue</th>
      <th scope="col">Quota</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>456</td>
      <td>456</td>
      <td>456</td>
      <td>456</td>
      <td>456</td>
    </tr>
  </tbody>
</table>