<div [ngClass]="{'d-none': commentBoxToggle}">
	<h1 class="section-title">Event List</h1>
	<div class="section-subtitle"><kbd><kbd>Click</kbd></kbd> column to sort, <kbd><kbd>Shift</kbd> + <kbd>Click</kbd></kbd> to sort multiple column</div>
	<button class="btn btn-info mb-3 w-100" *ngIf="!authService.isAdmin" (click)="toggle()"> {{showFavList ? "Hide" : "Show"}} Fav List</button>
	<table datatable [dtOptions]="dtOptions" class="table"></table>
</div>

<div [ngClass]="{'d-none': !commentBoxToggle}">
	<h1 class="section-title" id="eventlist">{{currentEventData['name']}}</h1>
	<div class="section-subtitle"><a href="#" (click)="commentBoxToggle = false">< close</a></div>

	<div *ngFor="let col of event_colDef">
		<h6 class="font-weight-bold">{{col['title']}}</h6>
		<div class="mb-3">{{currentEventData[col['data']] == "" ? "N/A" : currentEventData[col['data']]}}</div>
	</div>

	<button class="w-100 btn btn-info" *ngIf="!authService.isAdmin" (click)="fav()"> {{authService.favList.indexOf(currentEventData["eid"]) == -1 ? "Add to" : "Remove from"}} favourite</button>

	<h1 class="section-title">Comment</h1>
	<div class="section-subtitle"></div>
	<ng-container *ngIf="!commentLoading">
		<div class="media mb-3" *ngFor="let c of postCommentBuffer">
			<div class="media-body">
				<h5 class="mt-0">{{c['author']}}</h5>
				<div>
					{{c['content']}}
				</div>
			</div>
		</div>
	</ng-container>
	<div *ngIf="commentLoading">Loading</div>

	<textarea [value]="commentBuffer" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter Your Comment" (keyup)="commentBuffer = $event.target.value"></textarea>
	<button class="btn btn-primary float-right my-3" (click)="submitComment()">Post</button>
</div>